FRONTEND_URL="https://frontend-production-114d.up.railway.app"
VITE_API_BASE_URL="https://backend-production-cf04.up.railway.app"
VITE_BACKEND_URL="https://backend-production-cf04.up.railway.app"
VITE_DEFAULT_LOCALE="th-TH"
VITE_TIMEZONE="Asia/Bangkok"